@import 'variables.scss';
@import 'buttons.scss';
@import 'mixin.scss';

* {
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    background-color: $main-background-color;
    // margin: 0 auto;
}



.header {
    max-width: 120rem;
    margin: 0 auto;
}

.page-header {
  @include page-title;
    margin:.609375em 0rem  .609375em 0em ;  
}


.main {
    max-width: 120rem;
    margin: 0 auto;
    @include flexible;
}

.search {
    width: 100%;
    max-width: 82.9rem;
    height: 5.8rem;
    background: $section-background-color;
    border: none;
    box-shadow: 0rem .3rem 1rem rgba(0, 0, 0, 0.25);
    color: $main-text-color;
    font-size: 3.2rem;
    padding:0em 1em;
    margin-bottom: .5625em;
}

.search::placeholder {
    font-size: 3.2rem;
    color: $main-text-color;
}


.friend_buttons {
    max-width: 44rem;
    @include flexible;
    margin-bottom: 1.8em ;
}

.all-btn {
    font-size: 3.2rem;
    color: $main-text-color; 
    background: none;
    border: none;
    padding: .09375em .375em .21875em .375em;
}


.all-btn:focus{
    background: #175382;
    border-radius: 1rem;
    vertical-align: middle;
}

.addToFriends-btn {
    font-size: 3.2rem;
    color: $main-text-color;
    padding: .09375em .625em .125em .625em;
    background: #188737;
    border-radius: 1rem;
    border: none;
}

.friends {
    width: 82.9rem;
    height: 55.6rem;
    background: $section-background-color;
}

.list-friends, .add-friends {
    display: none;
    // width: 100%;
    padding: 1.6em 2.7em;

    &__title {
        font-size: 3.6rem;
        color: $main-text-color;
        margin-bottom: .91666em;
    }

    animation-name: animate;
    animation-duration: .4s;
}

@keyframes animate {
    0% {
        // top: 0px;
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}



.friend {
    @include flexible;
    align-items: center;
    padding: .5em .7em;
    background: rgba(217, 217, 217, 0.12); 
    box-shadow: 0rem .8rem 1rem rgba(0, 0, 0, 0.25);
}

.profil-friend {
    display: flex;
    align-items: center ;
}

.list-friends__content {
    list-style: none;
    padding: 0;
}


.player__avatar {   
    margin: 0em 1.2em 0em 0em ;
}

.NickName {
    font-size: 2rem;
    color: $main-text-color;
    margin: 0em 0em .3em 0em;
}

.player-data__active {
    font-size: 1.4rem;
    color: $main-text-color;
}

.player-data__active::before {
    display: inline-block;
    content: "";
    width: 1rem;
    height: 1rem;
    background-image: url(/img/active-online.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0em .6em 0em 0em;
}

.section-friend {
    width: 3.6rem;
    height: 3.6rem;
    
    background: url(/img/section-friend.png) ;
    
}


.applications {
    max-width: 32.1rem;
    background: $section-background-color;
    padding: 1em 2.2em;
}

.title {
 
    background: $main-background-color;
    margin-bottom: 2.1em;
    &__content {
        font-size: 2.4rem;
        color: $main-text-color;
        text-align: center;
        padding: .5em 1.60714em .53571em 1.60714em;
        font-family: $main-font;
    font-style: normal;
    font-weight: 400;
    font-size: 2.4rem;
    color: $main-text-color;
    }
}


.player {
    @include flexible;
    align-items: center;
}

.player-data__name {
    font-family: $main-font;
    font-size: 2.4rem;
    color: $main-text-color;
}
.add-btn, .cancellation-btn {
    width: 3.5rem;
    height: 3.5rem;
    border: none;
}

.add-btn {
    background: url(/img/Добавить.png) ;
    background-repeat: no-repeat;
    background-size: cover;
    margin-right: 1em;
}


.cancellation-btn {
    background: url(/img/Отклонить.png);
    background-repeat: no-repeat;
    background-size: cover;
}





.add-friends__search {
    width: 100%;
    max-width: 775px;
    height: 5rem;
    background: #09436D;
    border-radius: 1rem;
    color: $main-text-color;
    font-size: 2.4rem;
    padding: 0em 1em;
    margin-bottom: 33px;
    border: none;
}


.add-friends__search::placeholder {
    font-size: 2.4rem;
    color: $main-text-color;
}